node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store
.env
build/
migrations/
types/truffle-contracts/
types/web3-v1-contracts/
contract-addresses.json
.vscode/
*.secret
private_keys.txt
yarn-error.log
artifacts/
cache/
deployments/
