name: Actions

on:
    push

jobs:
    build:
        name: Run build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Install dependencies
              run: yarn install

            - name: Compile contracts
              run: yarn hardhat compile

    test:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                node_version: "15.14"

            - name: Install dependencies
              run: yarn install

            - name: Run unit tests
              run: yarn run test:unit

            - name: Run functional tests
              run: yarn run test:functional

    lint:
        name: Run lints
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - name: Install dependencies
              run: yarn install

            - name: Run Prettier
              run: yarn run lint

